@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/static/NotoSans-Regular.ttf) format('ttf');
  unicode-range: U+10880-108AF;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url(../../fonts/static/NotoSans-Bold.ttf) format('ttf');
  unicode-range: U+10880-108AF;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: medium;
  font-weight: 600;
  font-display: swap;
  src: url(../../fonts/static/NotoSans-Medium.ttf) format('ttf');
  unicode-range: U+10880-108AF;
}