main {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  
}
.content-page {
    flex:1;
    margin-block: 2rem;
}
.extensions {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    @media (max-width: 500px) {
        grid-template-columns: 1fr;
    }
}