:root {
  --primary-color: hsl(4, 82%, 45%);
  --main-bg-color: linear-gradient(135deg, hsl(215, 74%, 95%) 0%, hsl(215, 74%, 95%) 100% );
  --heading-color: hsl(234, 48%, 17%);
  --text-color: rgb(80, 80, 88);
  --white-color: hsl(0, 0%, 100%) ;
  --black-color: #000000;
  --gray-10-color: hsl(60, 9%, 96%);
  --gray-20-color: hsl(0, 0%, 78%);
  --border-color: hsl(224, 27%, 89%);
  --border-radius: 1.5rem;
  --box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

[data-theme=dark] {
  --primary-color: hsl(4, 82%, 45%);
  --main-bg-color: linear-gradient(135deg,hsl(228, 75%, 6%) 0%, hsl(227, 73%, 15%) 100%);
  --heading-color: hsl(0, 0%, 100%);
  --text-color: hsl(224, 14%, 79%);
  --white-color: hsl(224, 26%, 16%);
  --black-color: hsl(0, 0%, 100%);
  --gray-10-color: hsl(227, 23%, 24%);
  --gray-20-color: hsl(224, 12%, 37%);
  --border-color: hsl(224, 12%, 36%);
  --box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: #ebf2fc;
  background: var(--main-bg-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
  font-weight: 700;
}

.container {
  --bs-gutter-x: 1.5rem;
  padding-inline: var(--bs-gutter-x);
  width: 100%;
  margin-inline: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/static/NotoSans-Regular.ttf) format("ttf");
  unicode-range: U+10880-108AF;
}
@font-face {
  font-family: "Noto Sans";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url(../../fonts/static/NotoSans-Bold.ttf) format("ttf");
  unicode-range: U+10880-108AF;
}
@font-face {
  font-family: "Noto Sans";
  font-style: medium;
  font-weight: 600;
  font-display: swap;
  src: url(../../fonts/static/NotoSans-Medium.ttf) format("ttf");
  unicode-range: U+10880-108AF;
}
.navbar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-bottom: 75px;
}
.navbar-brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar-brand img {
  width: 45px;
  height: 45px;
}
.navbar-theme {
  background-color: var(--gray-10-color);
  border: none;
  cursor: pointer;
  padding: 1rem;
  color: var(--heading-color);
  border-radius: calc(var(--border-radius) * 0.5);
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s ease;
}
.navbar-theme:hover {
  background-color: var(--gray-20-color);
}
.navbar-theme:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}
.navbar-theme img {
  width: 1.5rem;
  height: 1.5rem;
}

.header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 1rem;
  }
}
.header-filters {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.header-filters .toggle-filter-btn {
  /* padding: 1rem 1.5rem;
  font-weight: 600;
  color: var(--heading-color);
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease , outline 0.3s ease;
  &:hover {
      background-color: var(--gray-10-color);
  }
  &:focus {
      outline: 2px solid var(--primary-color);
      outline-offset: 2px;
  } */
}
.header-filters .toggle-filter-btn.active {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-color: var(--primary-color);
}

.card {
  padding: 1.25rem;
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--text-color);
}
.card-body {
  display: flex;
  gap: 1rem;
  margin-bottom: 40px;
}
.card-body picture {
  width: 80px;
  height: 80px;
  border-radius: calc(var(--border-radius) * 0.5);
  flex-shrink: 0;
}
.card-body picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-body .card-title {
  margin-bottom: 1rem;
  color: var(--heading-color);
}
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 1rem 1.5rem;
  font-weight: 600;
  color: var(--heading-color);
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, outline 0.3s ease;
}
button:hover {
  background-color: var(--gray-10-color);
}
button:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

.toggle-filter {
  display: flex;
  align-items: center;
  gap: 12px;
}
.toggle-filter .form-check .form-check-label {
  padding: 1rem 1.5rem;
  font-weight: 600;
  color: var(--heading-color);
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.toggle-filter .form-check .form-check-label:hover {
  background-color: var(--gray-10-color);
}
.toggle-filter .form-check .form-check-input {
  display: none;
}
.toggle-filter .form-check .form-check-input:checked + .form-check-label {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-color: var(--primary-color);
}
.toggle-filter .form-check .form-check-input:focus + .form-check-label {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

.form-switch .form-check-label {
  display: block;
  width: 40px;
  height: 20px;
  background-color: var(--gray-20-color);
  border: 1px solid var(--border-color);
  border-radius: 9999px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.form-switch .form-check-label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(10%);
  inset-inline-start: 0;
  width: 16px;
  height: 16px;
  background-color: var(--white-color);
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.form-switch .form-check-label:hover {
  background-color: var(--gray-20-color);
}
.form-switch .form-check-input {
  display: none;
}
.form-switch .form-check-input:checked + .form-check-label {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-color: var(--primary-color);
}
.form-switch .form-check-input:checked + .form-check-label::before {
  transform: translateY(-50%) translateX(125%);
}
.form-switch .form-check-input:focus + .form-check-label {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

footer.attribution {
  padding: 1rem;
  font-size: 0.6875rem;
  text-align: center;
}
footer.attribution a {
  color: hsl(228, 45%, 44%);
}

main {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.content-page {
  flex: 1;
  margin-block: 2rem;
}

.extensions {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
@media (max-width: 500px) {
  .extensions {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=styles.css.map */
